.btnContainer {
  display: flex;
  flex-wrap: nowrap;
  .btn {
    margin-right: 8px;
  }
  .expandBtn {
    padding-left: 2px;
  }
}

.formContainer {
  background: #fff;
  width: 100%;
  padding: 20px 20px 12px 20px;
  margin-bottom: 12px;
}

.selectItem {
  width: 100%;
}
