.rootLayout {
  position: relative;
  height: 100%;
  /* overflow: hidden; */
}

.routeContentWrap .loadingWrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1DCC74;
}

.header {
  position: fixed;
  width: 100%;
  padding: 0 30px 0 0;
  /* box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.06); */
  background: #fff;
  z-index: 2;
}

.sideLayout {
  width: 240px;
  height: calc(100% - 64px);
  background: transparent;
  z-index: 1;
}

.sider {
  height: 100%;
  background: #fff;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.1);
}

.sider > :global(.ant-layout-sider-children) {
  overflow: auto;
}

.subLayout {
  display: flex;
  height: 100%;
  padding-top: 64px;
}

.contentLayout {
  position: relative;
  height: 100%;
  max-width: 100%;
  flex: 1;
  background: #f5f6f7;
  z-index: 0;
  overflow: auto !important;
  overscroll-behavior: contain;
}

.contentLayout.sideOpen {
  max-width: calc(100% - 180px);
}

.isFormEdit {
  padding-top: 0;
}

.nonLayout {
  max-width: 100% !important;
}

.contentLayout > .content {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.content.limitWidth {
  min-width: 1340px;
}

.contentLayout::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.contentLayout::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.contentLayout > .content > :global(.ant-tabs > .ant-tabs-bar) {
  margin-bottom: 8px;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.02);
}
.contentLayout > .content > :global(.ant-tabs) {
  height: 100%;
}
.contentLayout > .content > :global(.ant-tabs > .ant-tabs-content) {
  height: 100%;
}
.contentLayout > .content > :global(.ant-tabs > .ant-tabs-content > .ant-tabs-tabpane-active) {
  height: 100%;
}

/* 重置单个tab样式 */
.contentLayout > .content > :global(.ant-tabs-card > .ant-tabs-card-bar .ant-tabs-tab) {
  position: relative;
  border: 1px solid #F7F8FA;
  background: #F7F8FA;
  transition: background 0.2s;
}
.contentLayout > .content > :global(.ant-tabs-card > .ant-tabs-card-bar .ant-tabs-tab:hover) {
  border-radius: 6px 6px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  color: rgba(0, 0, 0, 0.65);
}
.contentLayout > .content > :global(.ant-tabs-card > .ant-tabs-card-bar .ant-tabs-tab-active) {
  border-radius: 6px 6px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
}
.contentLayout > .content > :global(.ant-tabs-card > .ant-tabs-card-bar .ant-tabs-tab-active:hover) {
  color: #1DCC74;
}
.contentLayout > .content > :global(.ant-tabs-card > .ant-tabs-card-bar .ant-tabs-tab + .ant-tabs-tab::after) {
  content: '';
  display: block;
  width: 1px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 50%;
  background: #E3E3E3;
  transform: translateY(-50%);
  transition: background 0.2s;
}
.contentLayout > .content > :global(.ant-tabs-card > .ant-tabs-card-bar .ant-tabs-tab:hover::after),
.contentLayout > .content > :global(.ant-tabs-card > .ant-tabs-card-bar .ant-tabs-tab:hover + .ant-tabs-tab::after),
.contentLayout > .content > :global(.ant-tabs > .ant-tabs-bar .ant-tabs-tab.ant-tabs-tab-active + .ant-tabs-tab:after),
.contentLayout > .content > :global(.ant-tabs > .ant-tabs-bar .ant-tabs-tab + .ant-tabs-tab.ant-tabs-tab-active:after) {
  background: transparent;
}
.contentLayout > .content > :global(.ant-tabs-card > .ant-tabs-card-bar .ant-tabs-tab::before) {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  top: unset;
  background-color: #1DCC74;
  transition: unset;
  transform: translateX(-50%);
}
.contentLayout > .content > :global(.ant-tabs-card > .ant-tabs-card-bar .ant-tabs-tab-active::before) {
  width: 100%;
  height: 2px;
  transition: all 0.1s;
}
/* 重置tab样式 */

/* 重置滚动arrow样式 */
.contentLayout > .content > :global(.ant-tabs-card > .ant-tabs-card-bar .ant-tabs-nav-container-scrolling) {
  padding-right: 40px;
  padding-left: 40px;
}
.contentLayout > .content > :global(.ant-tabs > .ant-tabs-bar .ant-tabs-tab-prev.ant-tabs-tab-arrow-show),
.contentLayout > .content > :global(.ant-tabs > .ant-tabs-bar .ant-tabs-tab-next.ant-tabs-tab-arrow-show) {
  /* position: relative; */
  width: 40px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 400;
}
.contentLayout > .content > :global(.ant-tabs > .ant-tabs-bar .ant-tabs-tab-prev.ant-tabs-tab-arrow-show::after) {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  height: 40px;
  width: 10px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.02) 100%);
}
.contentLayout > .content > :global(.ant-tabs > .ant-tabs-bar .ant-tabs-tab-next.ant-tabs-tab-arrow-show::after) {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  height: 40px;
  width: 10px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.02) 100%);
}
.contentLayout > .content > :global(.ant-tabs .ant-tabs-bar .ant-tabs-tab-prev.ant-tabs-tab-arrow-show:hover:not(.ant-tabs-tab-btn-disabled)),
.contentLayout > .content > :global(.ant-tabs .ant-tabs-bar .ant-tabs-tab-next.ant-tabs-tab-arrow-show:hover:not(.ant-tabs-tab-btn-disabled)) {
  color: #1DCC74;
}
/* 重置滚动arrow样式 */


.contentLayout > .content .tabPaneWrap > div {
  height: 100%;
  padding-bottom: 50px;
}

.contentLayout > .content .routeContentWrap {
  height: 100%;
  overflow-y: scroll;
  padding: 0 20px;
}

.contentLayout > .content .noPadding {
  padding: 0;
}

.optionWrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

.optionWrap > div {
  margin-right: 20px;
}

.optionWrap > div:hover {
  color: #1DCC74;
}

.optionWrap > div > .optionText {
  margin-left: 4px;
}
