.menu {
  padding-bottom: 140px;
  font-size: 14px;
  transition: opacity .4s;
}

.menuCollapsed {
  /* opacity: 0; */
  /* transition: none; */
}

.block {
  margin-bottom: 36px;
}

.subtitle {
  font-weight: 600;
  color: #31363D;
}

.submenu {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-flow: wrap;
}

.submenuItem {
  margin-top: 16px;
  padding-right: 6px;
  width: 106px;
}

.link {
  color: #5A5A5A;
}

.activeLink {
  color: #18BA6B;
}

.leafLink {
  composes: link;
  font-size: 13px;
}

.footerPlacehoder {
  position: fixed;
  bottom: 0;
  width: 200px;
  height: 80px;
  background-color: #ffffff;
  z-index: 3;
}

:global(.ant-menu-inline) {
  overflow: hidden;
  border-right: none;
}

:global(.ant-layout-sider) {
  border-right: 1px solid #e8e8e8;
}
