.c-search-form {
  padding: 20px 20px 0 20px;
  background-color: #fff;

  &-operation {
    display: flex;
    align-items: center;
  }

  &-operation-text {
    margin-left: 10px;
  }

  // &-form-item-wrapper {
  //   display: inline-block;
  // }

  &-form-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &-form-item-label {
    margin-right: 6px;
  }

  &-form-item-content {
    flex: 1;
  }

  &-reset-btn {
    margin-left: 8px;
  }

  .form-item-wrapper {
    display: inline-block;
  }
}
