.c-page {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;

  &-breadcrumb {
    margin-bottom: 16px;

    a {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.45);
      line-height: 22px;
    }
  }

  &-breadcrumb-item {
    &.outside-page a {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.85) !important;
      font-weight: 500;
    }
    &:last-child a {
      color: rgba(0, 0, 0, 0.65);;
    }
  }

  &-breadcrumb-separator {
    padding: 0 5px;
  }
}
